{
    // host to run this service on
    "waitress_host" : "localhost",
    // url for elasticsearch index
    "url" : "",
    // username for elasticsearch index
    "username" : "",
    // secret for elasticsearch index
    "secret" : "",
    // the index name for elasticsearch index
    "index_name" : "",
    // default number of documents retrieved by elasticsearch index search
    "default_pool" : 5,
    // default number of alternative terms returned
    "default_retSize" : 5
}